{erl_opts, [{parse_transform, lager_transform}, warn_untyped_records, debug_info, warnings_as_errors]}.

{shell, [{apps, [lager, ranch]}]}.

{deps, [
        {libp2p, ".*", {git, "https://github.com/helium/erlang-libp2p.git", {branch, "master"}}}
       ]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
