[
    {lager, [
        {log_root, "log"},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter_config, [
                    color, "[", date, " ", time, "] ", pid, " [", severity,"] [",
                    {module, ""}, {function, [":", function], ""}, {line, [":", line], ""},
                    "] ", message, "\e[0m\r\n"
                ]}
            ]}
        ]}
    ]}
].
